[Unit]
Description=Filebeat sends log files to Logstash or directly to Elasticsearch.
Documentation=https://www.elastic.co/products/beats/filebeat
Wants=network-online.target
After=network-online.target

[Service]

Environment="BEAT_LOG_OPTS=-e"
Environment="BEAT_CONFIG_OPTS=-c /root/elk-usg/filebeat/filebeat.yml"
Environment="BEAT_PATH_OPTS=-path.home /root/elk-usg/filebeat -path.config /root/elk-usg/filebeat -path.data /var/lib/filebeat -path.logs /var/log/filebeat"
ExecStart=/root/elk-usg/filebeat/filebeat $BEAT_LOG_OPTS $BEAT_CONFIG_OPTS $BEAT_PATH_OPTS
Restart=always

[Install]
WantedBy=multi-user.target
